<h1><%= @farm.name %> - Animals</h1>
<% @farm.animals.each do |animal| %>
  <div id="animal-<%= animal.id %>">
    <h3>Animals: </h3>
    <p>Name: <%= animal.name %></p>
    <p>Age: <%= animal.age %></p>
    <p>Rescue: <%= animal.rescue %></p>
  </div>
<% end %>
<%= link_to "Create New Animal", "/farms/#{@farm.id}/animals/new" %>
<%= link_to "Sort Alphabetically", "/farms/#{@farm.id}/animals?sort=asc" %>

<%= form_with url: "/farms/#{@farm.id}/animals", method: :get, local: true do |f| %>
  <%= f.label :age, 'Show only animals where age is greater than: ' %>
  <%= f.text_field :age %>

  <%= f.submit 'Apply' %>
<% end %>