<h1><%= @farm.name %> - Animals</h1>
<hr>
<%= link_to "Create New Animal", "/farms/#{@farm.id}/animals/new" %> | <%= link_to "Sort Alphabetically", "/farms/#{@farm.id}/animals?sort=asc" %>

<%= form_with url: "/farms/#{@farm.id}/animals", method: :get, local: true do |f| %>
  <%= f.label :age, 'Show only animals where age is greater than: ' %>
  <%= f.text_field :age %>
  <%= f.submit 'Apply' %>
<% end %>
<hr>

<% @animals.each do |animal| %>
  <div id="animal-<%= animal.id %>">
    <h3><%= animal.name %></h3>
    <p>Age: <%= animal.age %></p>
    <p>Rescue: <%= animal.rescue %></p>
    <hr>
  </div>
<% end %>
