<h1>Farms</h1>
<hr>
<%= link_to "Create New Farm", '/farms/new' %> | <%= link_to "Sort by Animal Quantity", '/farms?sort=asc' %>
<hr>

<% @farms.each do |farm| %>
  <div id="farm-<%= farm.id %>">
    <h2><%= farm.name %></h2>
      <p>created at: <%= farm.created_at %></p>
      <p><%= link_to 'edit', "/farms/#{farm.id}/edit" %> | <%= link_to 'delete', "/farms/#{farm.id}/destroy", method: :delete, data: { confirm: "Are you sure?" } %></p>
      <hr>
  </div>
<% end %>

