<h1>New Farm</h1>
<%= form_with url: '/farms', method: :post, local: true do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>

  <%= f.label :acreage, "Acreage" %>
  <%= f.text_field :acreage %>

  <%= f.label :family_owned, "Family-Owned" %>
  <%= f.text_field :family_owned %>

  <%= f.submit 'Submit' %>
<% end %>