<h1><%= @farm.name %></h1>
<h3>Acreage: <%= @farm.acreage %> </h3>
<h3>Family-owned: <%= @farm.family_owned %> </h3>
<h3>Number of animals: <%= @farm.animal_count %></h3>
<h3><%= link_to "#{@farm.name} Animals", "/farms/#{@farm.id}/animals" %></h3>
<h3><%= link_to "Update #{@farm.name}", "/farms/#{@farm.id}/edit" %></h3>
<h3><%= link_to "Delete #{@farm.name}", "/farms/#{@farm.id}/destroy", method: :delete %></h3>