<hr>
<h1><%= @animal.name %></h1>
<hr>
<h3>Age: <%= @animal.age %></h3>
<h3>Rescue: <%= @animal.rescue %></h3>
<p><%= link_to "edit", "/animals/#{@animal.id}/edit" %> | <%= link_to 'delete', "/animals/#{@animal.id}/destroy", method: :delete %></p>

