<h1>Farmers</h1>
<hr>
<%= form_with url: "/farmers", method: :get, local: true do |f| %>
  <%= f.label :search, 'Find' %>
  <%= f.text_field :search %>

  <%= f.submit 'search' %>
<% end %>
<hr>

<% @farmers.each do |farmer| %>
<div id="farmer-<%= farmer.id %>">
  <p><%= farmer.name %> - created at: <%= farmer.created_at %>
    <p><%= link_to 'edit', "/farmers/#{farmer.id}/edit" %></p>
    <p><%= link_to "Delete #{farmer.name}", "/farmers/#{farmer.id}/destroy", method: :delete, data: { confirm: "Are you sure?" } %></p>

</div>
<% end %>

<%= link_to "Create New Farmer", '/farmers/new' %>
