<h1><%= @farmer.name %></h1>
<h3>Age: <%= @farmer.age %> </h3>
<h3>Full Time: <%= @farmer.full_time %> </h3>
<h3>Number of chores: <%= @farmer.chores.count %></h3>
<h3><%= link_to "#{@farmer.name} Chores", "/farmers/#{@farmer.id}/chores" %></h3>
