<h1>New Chore for <%= @farmer.name %></h1>

<%= form_with url: "/farmers/#{@farmer.id}/chores", method: :post, local: true do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>

  <%= f.label :duration, "Duration" %>
  <%= f.text_field :duration %>

  <%= f.label :daily, "Daily" %>
  <%= f.text_field :daily %>

  <%= f.submit 'Create New Chore' %>
<% end %>
