<h1> Chores </h1>
<hr>
<%  @chores.each do |chore|  %>
  <div id="chore-<%= chore.id %>">
    <h3><%= chore.title %></h3>
    <p>Duration(in hours): <%= chore.duration %></p>
    <p>Daily chore: <%= chore.daily %></p>
    <p><%= link_to 'edit', "chores/#{chore.id}/edit" %></p>
    <p><%= link_to "Delete #{chore.title}", "chores/#{chore.id}/destroy", method: :delete %></p>
    <hr>
  </div>
<% end %>
