<h1><%= @chore.title %></h1>
<h3>Duration(in hours): <%= @chore.duration %></h3>
<h3>Daily chore: <%= @chore.daily %></h3>
<p><%= link_to "edit", "/chores/#{@chore.id}/edit" %> | <%= link_to "delete", "/chores/#{@chore.id}/destroy", method: :delete %></p>
