<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRailsFarm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1><%= link_to "Relational Rails Farm", "/" %></h1><h3><%= link_to "Farms", "/farms" %> <%= link_to "Animals", "/animals" %> <%= link_to "Farmers", "/farmers" %> <%= link_to "Chores", "/chores" %></h3>
    <%= yield %>
  </body>
</html>
